<div class="col-md-6 mb-4">
    <article class="card">
        {{ if .Params.Image }}
        <img src="{{ .Params.Image | absURL }}" class="card-img-top" alt="{{ .Title | markdownify }}">
        {{ end }}
        <div class="card-body px-0">
        {{ range .Params.Team }}
        <a href="{{ `members/` | relLangURL }}{{ . | urlize | lower }}"
            class="text-primary">{{ . | humanize | title }}</a>;
        {{ end }}
        <a href="{{ .Permalink }}" class="h5 d-block my-3">{{ .Title | markdownify }}</a>
        <div class="mb-3 post-meta">
            <span>{{ .Params.Description }}</span>
        </div>
        <p class="card-text">{{ .Summary }}</p>
        </div>
    </article>
</div>