code.language-bash {
    color: $body-color !important ;
}

.content > p > img {
    max-width: 45vw;
}
.card-img-top-container {
    height: 33vh;
    width: 33vh;
    overflow: hidden;
}
.card-img-top {
    width: 100%;
}