{{ define "main" }}

<!-- blog post -->
<section class="section-sm">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto text-center">
        <h4 class="widget-title">{{ .Title | markdownify }}</h4>
      </div>
      <div class="col-lg-12 mb-5 mb-lg-0">
        <div class="row">
          {{ range (where .Data.Pages ".Params.active" true) }}
          {{ .Render "post" }}
          {{ end }}
        </div>
      </div>
      <!-- sidebar -->
      <!-- {{ partial "sidebar.html" . }} -->
      <!-- /sidebar -->

      <!-- pagination -->
    </div>
    <div class="row">
      <div class="col-lg-8 mx-auto text-center">
        <h4 class="widget-title">Ex-{{ .Title | markdownify }}</h4>
      </div>
      <div class="col-lg-12 mb-5 mb-lg-0">
        <div class="row">
          {{ $paginator := .Paginate (where .Data.Pages ".Params.active" false) }}
          {{ range $paginator.Pages }}
          {{ .Render "post" }}
          {{ end }}
        </div>
      </div>
      <div class="col-12 mt-5">
        {{ template "_internal/pagination.html" . }}
      </div>
    </div>
  </div>
</section>
<!-- /blog post -->

{{ end }}