<div class="col-md-4 mb-4">
    <article class="card">
        {{ if .Params.Image }}
        <div class="card-img-top-container">
            <img src="{{ .Params.Image | absURL }}" class="card-img-top" alt="{{ .Title | markdownify }}">
        </div>
        {{ end }}
        <div class="card-body px-0">
        <a href="{{ .Permalink }}" class="h5 d-block my-3">{{ .Title | markdownify }}</a>
        <div class="mb-3 post-meta">
            <span>{{ .PublishDate.Format "02 January 2006" }}</span>
            <span class="border-bottom border-primary px-2 mx-1"></span>
            <span>{{ dateFormat "02 January 2006" .Params.EndDate}}</span>
        </div>
        <p class="card-text">{{ .Summary }}</p>
        <div class="card-btns">
            
            <a href="{{ .Params.Linkedin }}" title="linkedin" class="btn btn-outline-primary {{ if not .Params.Linkedin }} disabled {{ end }}"><i class="ti-linkedin"></i></a>
            <a href="{{ .Params.Github }}" title="github" class="btn btn-outline-primary {{ if not .Params.Github }} disabled {{ end }}"><i class="ti-github"></i></a>
            <a href="mailto:{{ .Params.Email }}" title="email" class="btn btn-outline-primary {{ if not .Params.Email }} disabled {{ end }}"><i class="ti-email"></i></a>
            <a href="{{ .Params.Lattes }}" title="lattes" class="btn btn-outline-primary {{ if not .Params.Lattes }} disabled {{ end }}">
                <svg width="14px" height="14px" version="1.1" viewBox="0 0 198.5 198.5" xmlns="http://www.w3.org/2000/svg" xmlns:cc="http://creativecommons.org/ns#" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#">
                    <g transform="matrix(.500 0 0 .500 0 0)">
                        <circle cx="198.5" cy="198.5" r="198.5" fill="#fff"/>
                        <g>
                            <path d="m192.16 226.05c-6.141-0.856-12.18-1.633-18.196-2.554-25.628-3.923-51.241-7.947-76.883-11.775-3.642-0.544-5.378-1.951-6.299-5.685-4.396-17.818-7.704-35.754-7.772-54.186v-5.053c0.662-4.532 0.336-9.154 0.9-13.697 3.64-29.321 15.828-53.634 42.198-68.718 18.985-10.859 40.053-12.711 61.5-11.2 28.623 2.018 55.36 10.858 81.211 22.764 1.979 0.911 3.544 2.723 5.302 4.114-0.062 0.629-0.123 1.258-0.186 1.886-3.202 0.399-6.425 1.261-9.604 1.124-15.287-0.66-30.572-2.341-45.838-2.125-8.455 0.12-17.166 2.396-25.237 5.208-17.714 6.168-25.2 20.204-26.389 38.079-1.327 19.948 3.17 39.075 9.355 57.792 4.004 12.114 8.955 23.917 13.764 36.604"/>
                            <path d="m90.886 218.06c8.506 1.92 15.936 3.494 23.315 5.276 32.745 7.909 65.807 10.288 99.081 4.426 19.468-3.43 38.002-9.879 54.143-21.865 23.811-17.684 30.787-42.229 19.885-69.766-1.592-4.021-3.356-7.986-4.685-12.094-0.936-2.894-1.264-5.982-2.158-10.466 2.796 1.116 4.52 1.322 5.534 2.28 15.223 14.375 28.938 29.873 36.885 49.684 10.813 26.948 8.927 53.292-3.24 79.314-14.893 31.854-40.041 53.499-69.934 70.346-31.787 17.913-66.319 27.94-101.89 34.944-3.108 0.611-3.766-0.938-4.611-3.021-15.711-38.659-31.433-77.313-47.142-115.97-1.617-3.978-3.168-7.987-5.186-13.084z"/>
                            <path d="m238.54 188.86c-24.445 0.32-52.369-19.508-56.833-44.104-3.226-17.766 7.527-33.994 25.534-36.956 25.636-4.216 55.988 13.65 64.804 38.146 7.379 20.503-6.326 40.903-28.676 42.669-1.826 0.145-3.659 0.188-4.829 0.245z"/>
                        </g>
                    </g>
                </svg>
            </a>
            
        </div>
    </article>
</div>